<div class="container" style="margin-top: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           <tr>
            <td>Arun</td>
            <td>Nokia</td>
            <td>10K</td>
            <td>
                <button class="button">Add</button> <button class="button">Edit</button> <button class="button">Delete</button>
            </td>
           </tr>
        </tbody>
    </table>
</div>
